*, *:before, *:after {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    position: relative;
}

.header {
    text-align: center;
}
.header h1 {
    margin: 0;
}

.webrtc-heading {
    margin-bottom: 6px;
}
.webrtc-heading h2 {
    margin: 0;
    float: left;
}
.webrtc-heading span {
    float: right;
}
.webrtc-heading:after {
    content: "";
    display: table;
    clear: both;
}

#connect-button {
    margin: 0 auto;
    padding: 12px;
    display: block;
}

#chat-window {
    height: 350px;
    overflow: scroll;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 3px solid #b8bcb9;
}
.chat-input-container {
    position: relative;
    height: 32px;
}
#chat-input {
    float: left;
    width: calc(100% - 126px);
    height: 100%;
    margin-right: 6px;
}
#send-button {
    float: left;
    width: 120px;
    height: 100%;
}
.chat-message {
    width: 75%;
    padding: 6px;
    margin-top: 6px;
}
.chat-message::first-child {
    margin-top: 0;
}
.message-sent {
    background-color: #afd3b4;
    float: left;
    margin-left: 6px;
}
.message-received {
    background-color: #73d184;
    float: right;
    margin-right: 6px;
}